
<div class="container ml-4">
  <h1>Hello <%= @user.name %></h1>

  <div class="row mt-4">
    <!-- First Column: My Skills -->
    <div class="col-md-4">
      <h2>My Skills:</h2>
      <% @my_skills.each do |skill| %>
        <div class="card mb-4">
          <!-- Skill Image -->
          <% if skill.photo.attached? %>
            <%= cl_image_tag skill.photo.key, class: "card-img-top" %>
          <% else %>
            <img src="https://via.placeholder.com/300x200" alt="No image available" class="card-img-top" />
          <% end %>
          <!-- Skill Information -->
          <div class="card-details p-3">
            <h5 class="card-title"><%= link_to skill.title, skill_path(skill) %></h5>
            <p class="card-text">Description: <%= skill.description %></p>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Second Column: Requests -->
    <div class="col-md-4">
      <h2>Requests:</h2>
      <% @my_requests.each do |request| %>
        <div class="card mb-4">
          <!-- Request Image -->
          <% if request.skill.photo.attached? %>
            <%= cl_image_tag request.skill.photo.key, class: "card-img-top" %>
          <% else %>
            <img src="https://via.placeholder.com/300x200" alt="No image available" class="card-img-top" />
          <% end %>
          <!-- Request Information -->
          <div class="card-details p-3">
            <h5 class="card-title"><%= link_to request.skill.title, skill_path(request.skill) %></h5>
            <p class="card-text">Message: <%= request.message %></p>
            <p class="card-text">Date: <%= request.date %></p>
            <p class="card-text">Status: <%= request.status %></p>
          </div>
          <div class="card-footer">
            <%= link_to "Accept", "bookings/#{request.id}/accept", class: "btn btn-success", data: { turbo_method: :patch } %>
            <%= link_to "Reject", "bookings/#{request.id}/decline", class: "btn btn-danger", data: { turbo_method: :patch } %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Third Column: My Bookings -->
    <div class="col-md-4">
      <h2>My Bookings:</h2>
      <% @my_bookings.each do |booking| %>
        <div class="card mb-4">
          <!-- Booking Image -->
          <% if booking.skill.photo.attached? %>
            <%= cl_image_tag booking.skill.photo.key, class: "card-img-top" %>
          <% else %>
            <img src="https://via.placeholder.com/300x200" alt="No image available" class="card-img-top" />
          <% end %>
          <!-- Booking Information -->
          <div class="card-details p-3">
            <h5 class="card-title"><%= link_to booking.skill.title, skill_path(booking.skill) %></h5>
            <p class="card-text">Message: <%= booking.message %></p>
            <p class="card-text">Date: <%= booking.date %></p>
            <p class="card-text">Status: <%= booking.status %></p>
          </div>
          <div class="card-footer">
            <%= link_to "Delete Booking", booking_path(booking), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
