<div class="container">
  <h1>Discover your next passion </h1>
  <!-- Main Row Wrapper for the Cards -->
  <div class="row">
    <% @skills.each do |skill| %>
      <!-- Each Skill Card Column (4 columns per row on large screens) -->
    <div class="col-8 col-md-6 col-lg-3 mb-4">

        <div class="card h-100">
          <!-- Skill Image -->
          <% if skill.photo.attached? %>
            <%= cl_image_tag skill.photo.key, class: "card-img-top" %>
          <% else %>
            <img src="https://via.placeholder.com/300x200" alt="No image available" class="card-img-top" />
          <% end %>

        <div class="card-content">

          <!-- Skill Information -->
          <div class="card-details">
            <h5 class="card-title mt-3"><%= link_to skill.title, skill_path(skill) %></h5>
            <p class="card-body"><%= skill.description %></p>
          </div>

          <!-- Price in the Footer -->
          <div class="card-footer">

          <%= link_to "More details", skill_path(skill), class: "btn btn-primary" %>

            <small>Price: <%= number_to_currency(skill.price, unit: "£") %></small>
          </div>

        </div>
      </div>
        </div>
    <% end %>
  </div>
</div>
