



      <div class="container mt-5" id="form-new">
        <h1>Share your passion</h1>
        <%= simple_form_for(@skill) do |f| %>
          <%= f.input :title, placeholder: "Enter your skill title" %>
          <%= f.input :description, placeholder: "Enter your skill description" %>
    <%= f.input :description_long, placeholder: "Enter your long skill description", :as => :text, :input_html => { 'rows' => 5, 'cols' => 10 } %>
          <%= f.input :price, placeholder: "Enter your price in pounds" %>
            <%= f.input :photo, as: :file %>
          <%= f.submit "Add Skill", class:"btn btn-primary mt-4" %>
        <% end %>
      </div>
