<h1><%= @skill.title %></h1>
<p><%= @skill.description %></p>
<%# <p>Price: <%= number_to_currency(skill.price, :unit => "£") %>
<%= cl_image_tag @skill.photo.key, height: 300, width: 400, crop: :fill %>
<p>Offered by: <%= @skill.user.name %></p>
<%= link_to 'Back to Skills', skills_path %>
