<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="https://res.cloudinary.com/do1nrl43q/image/upload/v1728635948/skills4hirelogo_xsrogs.jpg" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

<li class="nav-item active" id="search">
  <div>
    <form method="get" action="<%= skills_path %>" class="d-flex align-items-center">
      <!-- Search Input Field -->
      <input name="q" value="<%= @search %>" placeholder="Search " class="form-control me-2">

      <!-- Submit Button with Image Icon -->
      <button type="submit" class="btn  p-0">
        <img src="https://cdn0.iconfinder.com/data/icons/art-designing-glyph/2048/1871_-_Magnifier-512.png" alt="Search" width="24" height="24">
      </button>
    </form>
  </div>
</li>

        <li class="nav-item active">
          <a class="nav-link" href="<%= skills_path %>">All Skills</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="<%= new_skill_path %>">Share your passion</a>
        </li>



        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://www.shutterstock.com/image-vector/default-avatar-profile-icon-vector-600nw-1745180411.jpg" />
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= link_to("Dashboard", profile_path, class: "dropdown-item") %>
              <%= link_to("Log Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "dropdown-item") %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
            <% end %>
            <%# <a class="dropdown-item" data-turbo-method="delete" href="">Log out</a> %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
