<!DOCTYPE html>
<html>
  <head>
    <title>Skills4hire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
  <% flash.each do |type, msg| %>
    <div>
      <% if type == "notice" %>
        <div class="alert alert-success" role="alert">
          <%= msg %>
        </div>
      <% elsif type == "alert" %>
        <div class="alert alert-danger" role="alert">
          <%= msg %>
        </div>
      <% else %>
        <div class="alert alert-primary" role="alert">
          <%= msg %>
        </div>
      <% end %>
    </div>
  <% end %>
  </body>


<footer class="page-footer mt-4">
  <div class="footer-container">
    <div class="footer-section">
      <h5>About</h5>
      <ul>
        <li><a href="#">Company Info</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Press</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h5>Help</h5>
      <ul>
        <li><a href="#">Support Center</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h5>Legal</h5>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Cookie Policy</a></li>
      </ul>
    </div>
    <div class="footer-section social-media">
      <h5>Follow Us</h5>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Skills4Hire. All rights reserved.</p>
    <p><a href="#">Site Map</a></p>
  </div>
</footer>


</html>
